body {
  position: relative;
  margin: 0;
  height: 100vh;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 24px;
}

#main-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
  object-fit: fill;
}

#background {
  background-image: url('../images/island2.png');
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}

#content-wrapper {
  position: absolute;
  top: 50px;
  /* top: calc((100vh - 500px) / 2); */
  left: calc((100vw - 1200px) / 2);
  height: 600px;
  width: 1200px;
  z-index: 2;
  background-color: transparent;

  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* box-shadow: 0px 0px 40px 0px white; */
}

#sidebar {
  width: 15%;
  height: auto;
  margin: 20px 0 20px 20px;
  padding: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sidebar > div {
  background-image: url('../images/plank.png');
  background-size: 100% 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

#sidebar > div > * {
  margin: 5px;
}

#game {
  width: calc(85% - 20px);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
}

.red {
  background-image: url('../images/red.jpg');
  background-size: cover;
  box-sizing: border-box;
  border: 2px solid white;
}

.yellow {
  background-image: url('../images/yellow.jpg');
  background-size: cover;
  box-sizing: border-box;
  border: 2px solid white;
}

.green {
  background-image: url('../images/green.jpg');
  background-size: cover;
  box-sizing: border-box;
}

.card-holder {
  width: 210px;
  height: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* background-color: purple; */
  background-image: url('../images/leather.jpg');
  background-size: 100% 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.card-delete {
  border-radius: 5px;
}

#hazard,
#abilities {
  line-height: 170px;
  text-align: center;
  vertical-align: middle;
}

#hazard-card {
  background-color: #af360e;
  /* background-image: url('../images/hazard.jpg');
  background-size: cover; */
}

#ability-card {
  background-color: #18964e;
  /* background-image: url('../images/ability.jpg');
  background-size: cover; */
}

.card-holder aside {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.card-holder aside img {
  width: 100%;
  height: auto;

  box-sizing: border-box;
}

.card {
  width: 130px;
  height: 170px;
  border: 1px solid white;
  padding: 2px;
  border-radius: 5px;
}

#left-game {
  height: 100%;
  width: 220px;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#right-game {
  height: 100%;
  width: 220px;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  /* background-image: url('../images/sand.jpg'); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#left-game > * {
  border-radius: 5px;
}

#right-game > * {
  border-radius: 5px;
}

#stage {
  width: 80%;
  height: 20px;
  background-color: black;
}

#age,
#hazard,
#abilities {
  background-image: url('../images/card-back.jpg');
  background-size: 100% 100%;
}

img {
  height: 25px;
  width: 25px;
}

#card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#card-body span {
  position: absolute;
  line-height: 25px;
  padding-left: 9px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#goal {
  width: 200px;
  height: 100px;
  margin: 55px 0;
  background-image: url('../images/pirate-background.jpg');
  background-size: 100% 150%;
}

#hazard-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: -5px;
}

#hazard-aside span {
  height: 20px;
  width: 20px;

  border-radius: 50%;
}
#main-game {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#selection-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#confirm-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#confirm-btn {
  padding: 30px 20px;
  background-size: 100% 100%;
  cursor: not-allowed;
  color: #4c4c4c;
  border-radius: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.confirm-yes {
  background-image: url('../images/chest.png');
}

.confirm-not {
  background-image: url('../images/chest-not.png');
}

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
input[type='checkbox']:checked {
  background: #006fc3;
}

#fight-div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

#fight-disp {
  width: 100%;
  height: 100px;
  background-image: url('../images/plank.png');
  background-size: 100% 100%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

#powers-disp {
  width: 100%;
  display: flex;
  height: auto;
}

#powers-disp > div {
  display: flex;
  flex-direction: row;
  border: 1px ridge white;
}

#power-title {
  width: 80px;
  height: 22px;
  border: 1px ridge white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/leath-2.jpg');
  background-size: cover;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#power-box {
  border: 1px ridge white;
  display: flex;
  width: 22px;
  height: 22px;
  background-image: url('../images/stone.jpg');
  background-size: 100% 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#power-box-gem {
  font-size: 12px;
  border: 1px ridge white;
  display: flex;
  width: 22px;
  background-image: url('../images/stone-gem.jpg');
  background-size: 100% 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#hazard-div > * {
  margin: 20px 0;
}

#hazard-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 150px;
}

#draw-div,
#push-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
  width: 100px;
}

#fight-disp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#resolve-fight {
  width: 100%;
  box-sizing: border-box;
  padding: 7px 0px 7px 30px;
  background-image: url('../images/sword.png');
  background-size: 100% 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: 30px;
  color: white;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#modal > h4 {
  color: white;
}

#card-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
}

#card-selection > * {
  margin: 0 10px;
  border: transparent solid 2px;
  cursor: pointer;
}

#card-selection > *:hover {
  border: blue solid 2px;
}

#modal-confirm {
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

#card-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 130px;
}

#card-header > div {
  border-radius: 0;
  height: 30px;
}

#card-header span {
  position: absolute;
  line-height: 25px;
  padding-left: 9px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.card h4 {
  width: 78px;
  word-wrap: break-word;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
